<form>
  <div class="form-group">
    <input
      class="form-control"
      type="text"
      name="roomType"
      placeholder="Room Type"
    />
  </div>
  <div class="form-group">
    <input
      class="form-control"
      type="text"
      name="amenities"
      placeholder="Amenities"
    />
  </div>
  <div class="form-group">
    <input
      class="form-control"
      type="number"
      name="price"
      placeholder="Price"
    />
  </div>
  <div class="form-group">
    <input
      class="form-control"
      type="text"
      name="roomType"
      placeholder="Room Type"
    />
  </div>
  <div class="form-group">
    <input
      class="form-control"
      type="text"
      name="roomType"
      placeholder="Room Type"
    />
  </div>
  <div class="form-group">
    <input
      class="form-control"
      type="text"
      name="roomType"
      placeholder="Room Type"
    />
  </div>
  <div class="form-group">
    <input
      class="form-control"
      type="text"
      name="roomType"
      placeholder="Room Type"
    />
  </div>
  <div></div>
</form>
