<p>booking works!</p>
{{bookingForm.value | json}}
{{bookingForm.pristine|json}}
{{bookingForm.dirty|json}}

<form class="example-form" [formGroup]="bookingForm">
        <mat-form-field class="example-full-width">
            <!-- <mat-label>Email</mat-label> -->
            <input type="text" matInput formControlName="roomId"
            placeholder="Room Id"/>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="text" matInput formControlName="guestName"
            placeholder="Guest Name"/>
        </mat-form-field> 
        <mat-form-field class="example-full-width">
            <input type="email" matInput formControlName="guestEmail"
            placeholder="Provide an email"/>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="text" matInput formControlName="mobileNumber"
            placeholder="Mobile Number"/>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="number" matInput formControlName="bookingAmount"
            placeholder="Booking Amount"/>
        </mat-form-field>
        <!-- <mat-form-field class="example-full-width">
            <input type="text" matInput formControlName="roomId"
            placeholder="Room Id"/>
        </mat-form-field>            
        <mat-form-field class="example-full-width">
            <input type="text" matInput formControlName="roomId"
            placeholder="Room Id"/>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="text" matInput formControlName="roomId"
            placeholder="Room Id"/>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="text" matInput formControlName="roomId"
            placeholder="Room Id"/>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="text" matInput formControlName="roomId"
            placeholder="Room Id"/>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="text" matInput formControlName="roomId"
            placeholder="Room Id"/>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="text" matInput formControlName="roomId"
            placeholder="Room Id"/>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="text" matInput formControlName="roomId"
            placeholder="Room Id"/>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="text" matInput formControlName="roomId"
            placeholder="Room Id"/>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="text" matInput formControlName="roomId"
            placeholder="Room Id"/>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="text" matInput formControlName="roomId"
            placeholder="Room Id"/>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="text" matInput formControlName="roomId"
            placeholder="Room Id"/>
        </mat-form-field> -->
</form>
