<h1>Welcome to {{ hotelName }}</h1>
<div [hidden]="hideRooms">
  Number of Rooms:
  <div
    [ngStyle]="{
      color: rooms
        ? rooms.availableRooms
          ? rooms.availableRooms > 0
            ? 'green'
            : 'red'
          : 'red'
        : 'red'
    }"
    [innerText]="numberOfRooms"
  ></div>
</div>

{{
  rooms
    ? rooms.availableRooms
      ? rooms.availableRooms
      : "No Rooms"
    : "No Rooms"
}}

<!-- {{roomsList | json}} -->

<div
  *ngIf="
    rooms
      ? rooms.availableRooms
        ? rooms.availableRooms > 0
          ? true
          : false
        : false
      : false
  "
>
  <app-rooms-list [rooms]="roomsList"></app-rooms-list>
</div>

<button (click)="toggle()">Toggle</button>


<!-- concepts learnt -->
<!-- date pipes -->