<!-- <h1>Welcome to {{ hotelName }}</h1> -->
<app-header></app-header>
<app-header></app-header>
<app-header></app-header>
<div [hidden]="hideRooms">
  Number of Rooms:
  <div
    [ngStyle]="{
      color: rooms
        ? rooms.availableRooms
          ? rooms.availableRooms > 0
            ? 'green'
            : 'red'
          : 'red'
        : 'red'
    }"
    [innerText]="numberOfRooms"
  ></div>
</div>

{{
  rooms
    ? rooms.availableRooms
      ? rooms.availableRooms
      : "No Rooms"
    : "No Rooms"
}}

<!-- {{roomsList | json}} -->
<div *ngIf="selectedRoom">
  {{ selectedRoom | json }}
</div>

<div>
  <button (click)="addRoom()">Add Room</button>
</div>

<div
  *ngIf="hideRooms"
>
  <app-rooms-list
    [rooms]="roomsList"
    [title]="title"
    (selectedRoom)="selectRoom($event)"
  ></app-rooms-list>
</div>

<button (click)="toggle()">Toggle</button>

<!-- concepts learnt -->
<!-- date pipes -->
